.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url("https://images.pexels.com/photos/2294456/pexels-photo-2294456.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-repeat: no-repeat
}
.registerTitle{
    font-size :50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction:column;
}
.registerForm > label{
    margin: 10px 0;
    color: #fff;
    }
.registerInput{
    padding: 10px;
    background-color:white;
    border: none;
}    
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color:crimson;
    border: none;
    color: white;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius:5px;
}