.sideBar{
    flex:3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.sidebarTitle{
    
}