.post{
    width: 385px;
    margin: 0px 25px 40px 25px;


}
.postImg{
    width: 100%;
    height: 280px;
    object-fit:cover;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
}
.postInfo{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.postCategories{
    font-family: 'Varela';
}