.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;
    padding:20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.settingsUpdateTitle{
    font-size:30px;
    margin-bottom: 20px;
    color: crimson;
}

.settingsDeleteTitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}