.header{
    margin-top: 60px;
}
.headerTitles{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Lora', serif;
    color: crimson;
}
.headerTitleLg{
    position:absolute;
    top: 20%;
    font-size:70px;
    /* left:4px; */
}
.headerImg{
    width:100%;
    height:100vh;
    object-fit: cover;
}