.top{
    width: 100%;
    height:50px;
    background-color:white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.topLeft,.topRight{
    flex:3
}
.topCenter{
    flex:6
}